{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
	
	<div class="container">
	<fieldset>
		<form action="/" method="post">
			<input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
			<input type="submit" class="ghost-button" value="Get Temperature">
		</form>

		{% if city is not null %}
				<p>City: {{city}}</p>
		{% endif %}
		
		{% if temp is not null %}
				<p>Current temperature: {{temp}}</p>
		{% endif %}

	</fieldset>
</div>
		
{% endblock %}
